<main class="container" id="contenteroo">




  <div id="search">
    <input type="search" ng-model="search" placeholder="Search">
    <div class="pull-right">
      <label for="sort">  Sort by</label>
      <select ng-model="sort">
               <option name="sort" value="-created_at">Newest</option>
               <option name="sort" value="created_at">Oldest</option>
               <option name="sort" value="price">Price Lowest</option>
              <option name="sort" value="-price">Price Highest</option>
             </select>
    </div>
  </div>

  <div>
    <div id="newguy" >
      <form ng-submit="$ctrl.$newSecret()">
        <div>
          <label for="title">Title</label>
          <input ng-model="$ctrl.newSecret.title" type="text">
        </div>
        <div>
          <label for="description">Description</label>
          <textarea ng-model="$ctrl.newSecret.description" type="text"></textarea>
        </div>
        <div>
          <label for="price">Price</label>
          <input ng-model="$ctrl.newSecret.price" type="text">
        </div>
        <div>
          <label for="item_image">Item Image</label>
          <input ng-model="$ctrl.newSecret.item_image" type="url">
        </div>
        <div>
          <button type="submit">Share your secret</button>
        </div>
      </form>
    </div>
  </div>









  <!-- REPEAT -->
  <div>
    <div id="secrets" ng-repeat="secret in $ctrl.secrets | filter:search | orderBy:sort">
      <div>
        <h3 id="title"> {{ secret.title }} </h3>
        <div id="body"> {{ secret.description }}</div>

        <div><img id="guys" ng-src="{{ secret.item_image }}"></div>
        <p id="price">${{ secret.price }}</p>



        <input type="button" ng-click="$ctrl.$toggle(secret, $index)" value="Edit Your Secret">
        <input type="button" ng-click="$ctrl.$hush({id: secret.id})" value="Remove Your Secret">




        <div id="editeroo" class="col-md-8" ng-if="$ctrl.secret[$index]">
          <form ng-submit="$ctrl.$change(secret)">
            <div>
              <label for="title">Title</label>
              <input ng-model="$ctrl.changing.title" type="text">
            </div>
            <div>
              <label for="description">Description</label>
              <textarea ng-model="$ctrl.changing.description" type="text"></textarea>
            </div>
            <div>
              <label for="price">Price</label>
              <input ng-model="$ctrl.changing.price" type="text">
            </div>
            <label for='item_url'>Item Image</label>
            <input ng-model="$ctrl.changing.item_image" type="url">
            <div>
              <button type="submit">Save Secret</button>
            </div>
          </form>
        </div>

      </div>
    </div>

    <!-- END REPEAT -->
  </div>


</main>
